<%= filter_panel do %>
  <%= form_tag drugs_path, method: 'get', class: 'form-inline', id: 'drugs_search' do %>
    <div class="form-group">
      <%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Name" %>

      <%= search_button %>

      <%= clear_button(drugs_path) %>
    </div>
  <% end %>
<% end %>
