<%= table(@drugs) do %>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @drugs.each do |drug| %>
      <tr>
        <td><%= drug.name %></td>
        <td>
          <%= edit_link(edit_drug_path(drug)) %>
          <%= destroy_link(drug_path(drug)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
