<%= form_for @institution, html: { class: 'form-horizontal', role: 'form' } do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'col-lg-1 control-label' %>
    <div class="col-lg-5">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :abbreviation, class: 'col-lg-1 control-label' %>
    <div class="col-lg-5">
      <%= f.text_field :abbreviation, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-1 col-lg-5">
      <%= submit(f) %>
      <%= cancel(institutions_path) %>
    </div>
  </div>
<% end %>
