<%= filter_panel do %>
  <%= form_tag institutions_path, method: 'get', class: 'form-inline', id: 'institution_search' do %>
    <div class="form-group">
      <%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Name" %>

      <%= text_field_tag :abbreviation, params[:abbreviation], class: "form-control", placeholder: "Abbreviation" %>

      <%= search_button %>

      <%= clear_button(institutions_path) %>
    </div>
  <% end %>
<% end %>
