<%= table(@institutions) do %>
  <thead>
    <tr>
      <th>Name</th>
      <th>Abbreviation</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @institutions.each do |m| %>
      <tr>
        <td><%= m.name %></td>
        <td><%= m.abbreviation %></td>
        <td>
          <%= edit_link(edit_institution_path(m)) %>
          <%= destroy_link(institution_path(m)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
