<%= filter_panel do %>
  <%= form_tag groups_path, method: 'get', class: 'form-inline', id: 'group_search' do %>
    <div class="form-group">
      <%= text_field_tag :code, params[:code], class: "form-control", placeholder: "Code" %>

      <%= search_button %>

      <%= clear_button(groups_path) %>
    </div>
  <% end %>
<% end %>
