<%= table(@groups) do %>
  <thead>
    <tr>
      <th>Code</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |m| %>
      <tr>
        <td><%= m.code %></td>
        <td>
          <%= edit_link(edit_group_path(m)) %>
          <%= destroy_link(group_path(m)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
