<%= form_for @patient, html: { class: 'form-horizontal', role: 'form' } do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'col-lg-1 control-label' %>
    <div class="col-lg-5">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :gender, class: 'col-lg-1 control-label' %>
    <div class="col-lg-5">
      <div class="radio">
        <label>
          <%= f.radio_button :gender, 'M' %>
          Male
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :gender, 'F' %>
          Female
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :birthday, class: 'col-lg-1 control-label' %>

    <div class="col-lg-5">
      <%= f.date_field :birthday, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :institution, class: 'col-lg-1 control-label' %>

    <div class="col-lg-5">
      <%= f.collection_select :institution_id, Institution.all, :id, :abbreviation, { selected: @patient.institution.try(:id), include_blank: true }, { class: "form-control", id: "institution_select" } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :medical_record, class: 'col-lg-1 control-label' %>

    <div class="col-lg-5">
      <%= f.text_field :medical_record, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-1 col-lg-5">
      <%= submit(f) %>
      <%= cancel(patients_path) %>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
      $("#institution_select").select2({
        placeholder: "Select Institution",
        allowClear: true
      });
  });
</script>
