<%= filter_panel do %>
  <%= form_for @filter, url: patients_path, html: { method: 'get', class: 'form-inline', id: 'patient_search' } do |f| %>
    <div class="form-group">
      <%= f.text_field :name, class: 'form-control', placeholder: "Name" %>

      <%= f.text_field :medical_record, class: 'form-control', placeholder: "Medical record" %>

      <%= search_button %>

      <%= clear_button(patients_path) %>
    </div>
  <% end %>
<% end %>
