<%= table(@patients) do %>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Birthday</th>
      <th>Medical record</th>
      <th>Institution</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |m| %>
      <tr>
        <td><%= m.name %></td>
        <td><%= m.gender %></td>
        <td><%= m.birthday %></td>
        <td><%= m.medical_record %></td>
        <td><%= m.institution.abbreviation %></td>
        <td>
          <%= edit_link(edit_patient_path(m)) %>
          <%= destroy_link(patient_path(m)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
