<%= form_for @doctor, html: { class: 'form-horizontal', role: 'form' } do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'col-lg-1 control-label' %>
    <div class="col-lg-5">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :crm, class: 'col-lg-1 control-label' %>
    <div class="col-lg-5">
      <%= f.text_field :crm, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: 'col-lg-1 control-label' %>
    <div class="col-lg-5">
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :phone, class: 'col-lg-1 control-label' %>
    <div class="col-lg-5">
      <%= f.phone_field :phone, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-1 col-lg-5">
      <%= submit(f) %>
      <%= cancel(doctors_path) %>
    </div>
  </div>
<% end %>
