<%= filter_panel do %>
  <%= form_tag doctors_path, method: 'get', class: 'form-inline', id: 'doctor_search' do %>
    <div class="form-group">
      <%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Name" %>

      <%= text_field_tag :crm, params[:crm], class: "form-control", placeholder: "CRM" %>

      <%= search_button %>

      <%= clear_button(doctors_path) %>
    </div>
  <% end %>
<% end %>
