<%= table(@doctors) do %>
  <thead>
    <tr>
      <th>Name</th>
      <th>CRM</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @doctors.each do |m| %>
      <tr>
        <td><%= m.name %></td>
        <td><%= m.crm %></td>
        <td><%= m.email %></td>
        <td><%= m.phone %></td>
        <td>
          <%= edit_link(edit_doctor_path(m)) %>
          <%= destroy_link(doctor_path(m)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
