<%= form_for @exam, html: { class: 'form-horizontal', role: 'form' } do |f| %>
  <div class="form-group">
    <%= f.label :examination_date, class: 'col-lg-2 control-label' %>

    <div class="col-lg-5">
      <%= f.date_field :examination_date, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :patient, class: 'col-lg-2 control-label' %>

    <div class="col-lg-5">
      <%= f.collection_select :patient_id, Patient.all, :id, :name, { selected: @exam.patient.try(:id), include_blank: true }, { class: "form-control", id: "patient_select" } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :institution, class: 'col-lg-2 control-label' %>

    <div class="col-lg-5">
      <%= f.collection_select :institution_id, Institution.all, :id, :abbreviation, { selected: @exam.institution.try(:id), include_blank: true }, { class: "form-control", id: "institution_select" } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :genotype, class: 'col-lg-2 control-label' %>

    <div class="col-lg-5">
      <%= f.collection_select :genotype_id, Genotype.all, :id, :code, { selected: @exam.genotype.try(:id), include_blank: true }, { class: "form-control", id: "genotype_select" } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :group, class: 'col-lg-2 control-label' %>

    <div class="col-lg-5">
      <%= f.collection_select :group_id, Group.all, :id, :code, { selected: @exam.group.try(:id), include_blank: true }, { class: "form-control", id: "group_select" } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :doctor, class: 'col-lg-2 control-label' %>

    <div class="col-lg-5">
      <%= f.collection_select :doctor_id, Doctor.all, :id, :name, { selected: @exam.doctor.try(:id), include_blank: true }, { class: "form-control", id: "doctor_select" } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :mutations, class: 'col-lg-2 control-label' %>

    <div class="col-lg-5">
      <%= text_field_tag :raw_mutations, @exam.raw_mutations, class: "form-control", placeholder: "Ex.: V173L, M204I/V/S, P237H" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :drugs, class: 'col-lg-2 control-label' %>

    <div class="col-lg-5">
      <%= text_field_tag :raw_drugs, @exam.raw_drugs, class: "form-control", placeholder: "Ex.: Adefovir, Tenofovir" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-5">
      <%= submit(f) %>
      <%= cancel(exams_path) %>
    </div>
  </div>
<% end %>

<script>
  function loadSelect2(jquery) {
    $("#institution_select").select2({
      placeholder: "Select Institution",
      allowClear: true
    });

    $("#patient_select").select2({
      placeholder: "Select Patient",
      allowClear: true
    });

    $("#doctor_select").select2({
      placeholder: "Select Doctor",
      allowClear: true
    });

    $("#group_select").select2({
      placeholder: "Select Group",
      allowClear: true
    });

    $("#genotype_select").select2({
      placeholder: "Select Genotype",
      allowClear: true
    });
  };

  $(document).ready( loadSelect2 );
</script>
