<%= filter_panel do %>
  <%= form_for @filter, url: exams_path, html: { method: 'get', class: 'form-inline', id: 'exam_search' }  do |f| %>
    <div class="form-group">
      <%= f.collection_select :patient_id, Patient.all, :id, :name, { selected: @filter.patient_id, include_blank: true }, { class: "form-control", id: "patient_select" } %>
    </div>

    <div class="form-group">
      <%= f.collection_select :doctor_id, Doctor.all, :id, :name, { selected: @filter.doctor_id, include_blank: true }, { class: "form-control", id: "doctor_select" } %>
    </div>

    <div class="form-group">
      <%= f.collection_select :group_id, Group.all, :id, :code, { selected: @filter.group_id, include_blank: true }, { class: "form-control", id: "group_select" } %>
    </div>

    <div class="form-group">
      <%= search_button %>

      <%= clear_button(exams_path) %>
    </div>
  <% end %>
<% end %>


<script>
$(document).ready(function() {
  $("#patient_select").select2( {
    placeholder: "Select Patient",
    allowClear: true
  });
});

$(document).ready(function() {
  $("#doctor_select").select2( {
    placeholder: "Select Doctor",
    allowClear: true
  });
});

$(document).ready(function() {
  $("#group_select").select2( {
    placeholder: "Select Group",
    allowClear: true
  });
});
</script>
