<%= table(@exams) do %>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Institution</th>
      <th>Genotype</th>
      <th>Group</th>
      <th>Doctor</th>
      <th>Mutations</th>
      <th>Drugs</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @exams.each do |m| %>
      <tr>
        <td><%= m.patient.name %></td>
        <td><%= m.institution.abbreviation %></td>
        <td><%= m.genotype.code %></td>
        <td><%= m.group.code %></td>
        <td><%= m.doctor.name %></td>
        <td><%= m.raw_mutations %></td>
        <td><%= m.raw_drugs %></td>
        <td>
          <%= edit_link(edit_exam_path(m)) %>
          <%= destroy_link(exam_path(m)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
