<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @exam.patient %>
</p>

<p>
  <strong>Examination date:</strong>
  <%= @exam.examination_date %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @exam.institution %>
</p>

<p>
  <strong>Genotype:</strong>
  <%= @exam.genotype %>
</p>

<p>
  <strong>Group:</strong>
  <%= @exam.group %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @exam.doctor %>
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
