<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Hepatitis Analysis</a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
      <%= nav_link "Exams",        exams_path,        "stethoscope" %>
      <%= nav_link "Patients",     patients_path,     "user" %>
      <%= nav_link "Doctors",      doctors_path,      "user-md" %>
      <%= nav_link "Institutions", institutions_path, "hospital-o" %>
      <%= nav_link "Mutations",    mutations_path,    "crosshairs" %>
      <%= nav_link "Genotypes",    genotypes_path,    "codepen" %>
      <%= nav_link "Drugs",        drugs_path,        "medkit" %>
      <%= nav_link "Groups",       groups_path,       "group" %>
    </ul>

    <ul class="nav navbar-nav navbar-right navbar-user">
      <li class="dropdown user-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
          <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
          <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
