<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Menu</li>
    <li><%= link_to "Patients", patients_path %></li>
    <li><%= link_to "Doctors", doctors_path %></li>
    <li><%= link_to "Genotypes", genotypes_path %></li>
    <li><%= link_to "Mutations", mutations_path %></li>
    <li><%= link_to "Drugs", drugs_path %></li>
    <li><%= link_to "Institutions", institutions_path %></li>
  </ul>
</div><!--/.well -->
