<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "HepatitisAnalysis" %></title>
    <%= csrf_meta_tags %>

    <%= render 'layouts/shim' %>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div id="wrapper">
      <%= render 'layouts/navbar' %>

      <%= render 'layouts/container' %>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
